{% extends 'base.html.twig' %}



{% block body %}


<nav id="chapeau" class="level p2 has-background-white">
    <div class="level-left">
        <div class="level-item has-text-centered mv1">
            <figure class="image is-128x128">
                <img class="is-rounded" src="img/portrait.jpg">
            </figure>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="title is-4">Matthieu Caballero</p>
                <br/>
                <p class="subtitle is-6">Développeur web</p>
            </div>
        </div>
    </div>

    {% for item in items %}
    {% if (item.category.name == "Général") and ((item.title == "Téléphone") or (item.title == "E-mail")) %}
    <div class="level-item has-text-centered is-hidden-mobile">
        <div>
            <p class="heading">{{item.title}} </p>
            <a class="subtitle is-6"
            {% if item.title == "Téléphone" %}
                href="tel:+33611308140"
            {% elseif item.title == "E-mail"%}
                href="mailto:matthieu.caballero@gmail.com"    
            {% endif %}
            
            >
                {{item.description|nl2br}}
            </a>
        </div>
    </div>
    {% endif %}
    {% endfor %}

    <div class="level-right">
        <div class="level-item has-text-centered pv1">

            <a href="https://www.linkedin.com/in/matthieu-caballero/" title="Allez vers profil linkedin"><i class="fab fa-linkedin-in"></i></a>

            {% if app.user %}
            <div class="buttons">
                <a href="{{path('logout')}} " class="button is-light">Log out</a>
            </div>
            {% endif %}
        </div>
    </div>
</nav>


<section id="sectionIndex" class="container p1 ">

    {% for category in categories %}
    <article class="columns has-text-white-ter">
        <div class="column has-text-right has-text-centered-mobile">
            <h3 class="title is-4 has-text-white-ter">{{category.name}}</h3>
        </div>
        <div class="column is-three-quarters has-text-centered-mobile">
            {% for item in items %}
                {% if item.category.id == category.id %}
                <div class="mb2">
                    <h4 class="is-size-5">{{item.title}}</h4>
                    <h5 class="is-size-6">{{item.subtitle}}</h5>
                    <h6 class="is-size-7">{{item.period}}</h6>
                    {% if item.title == "Téléphone" %}
                        <a href="tel:+33611308140">{{item.description|nl2br}}</a>
                    {% elseif item.title == "E-mail" %}
                        <a href="mailto:matthieu.caballero@gmail.com">{{item.description|nl2br}}</a>
                    {% else %}
                    <p>{{item.description|nl2br}}</p>
                    {% endif %}
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </article>
    {% endfor %}

</section>

{% endblock %}