{% extends 'admin/index.html.twig' %}

{% block admin %}

<section class="container is-fluid">

    <div class="columns is-centered" style="padding: 2em 0;">
        <a href="{{path('admin.item.new')}} " class="button is-fullwidth">Créer</a>
    </div>

    <div class="columns is-centered" style="padding: 2em 0;">
        <div class="column is-full">
            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Position</th>
                        <th>Catégorie</th>
                        <th>Titre</th>
                        <th>Sous-titre</th>
                        <th>Période</th>
                        <th>Description</th>
                        <th>Actions</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td>{{item.id}} </td>
                        <td>{{item.position}} </td>
                        <td>{{item.category.name}} </td>
                        <td>{{item.title}} </td>
                        <td>{{item.subtitle}} </td>
                        <td>{{item.period}} </td>
                        <td>{{item.description}} </td>
                        <td>
                            <div class="buttons">
                                <a href="{{path('admin.item.edit', {id: item.id})}}" class="button ">Editer</a>
                                <form method='POST' action="{{path('admin.item.delete', {id: item.id})}}">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value='{{ csrf_token('delete' ~ item.id) }}'>
                                    <button onclick="return confirm('Etes vous sur?');" class='button is-danger is-light'>Supprimer</button>
                                </form>                    
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>

</section>
{% endblock %}