{% extends 'admin/index.html.twig' %}

{% block body %}

<section class="container is-fluid">

    <div class="columns is-centered" style="padding: 2em 0;">
        <a href="{{path('admin.category.new')}}" class="button is-fullwidth">Créer</a>
    </div>

    <div class="columns is-centered" style="padding: 2em 0;">
        <div class="column is-full">
            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in categories %}
                    <tr>
                        <td>{{category.id}} </td>
                        <td>{{category.name}} </td>
                        <td>
                            <div class="buttons">
                                <a href="{{path('admin.category.edit', {id: category.id})}} " class="button ">Editer</a>
                                <form method='POST' action="{{path('admin.category.delete', {id: category.id})}}">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value='{{ csrf_token('delete' ~ category.id) }}'>
                                    <button onclick="return confirm('Etes vous sur?');" class='button is-danger is-light' style="margin-right: 0.5em;">Supprimer</button>
                                </form>                    
                                <a href="{{path('admin.category.items', {id: category.id})}} " class="button is-info is-light">Items associés</a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>

</section>
{% endblock %}